
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Entornos virtuales
venv/
env/
.venv/


*.xlsx
*.xls
*.csv

# Archivos temporales de Excel
~$*.xlsx


*.png
*.jpg
*.jpeg
*.gif


Resultados/
outputs/
evidencias/
logs/
reports/

build/
dist/
*.spec
*.exe


.vscode/
.idea/

.env
*.env

.pytest_cache/
.cache/


.DS_Store
Thumbs.db